<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from kanakku.dreamguystech.com/template-html/form-basic-inputs.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Feb 2021 23:21:22 GMT -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Insurence -Auto </title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/public/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/public/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/public/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/public/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/public/css/style.css">

	<link rel="stylesheet" href="/public/log/vendor/toaster/toaster/build/toastr.css">
	<script src="/public/log/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="/public/log/vendor/toaster/toaster/build/toastr.min.js"></script>
	<script src="/public/js/toaster.js"></script>
</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<%- include('partial/header'); %>

			<!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid">

					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col">
								<h3 class="page-title">Insurence Auto </h3>
							</div>
						</div>
					</div>
					<!-- /Page Header -->

					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Upload Documents</h5>
									<div style="float: right;">
										<h5 class="card-title">Contact : 9150994655</h5><br>
										<!-- <h5 class="card-title">Price : Rs 60</h5> -->
									</div>
								</div>
								<div class="card-body">
									<div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Name</label>
											<div class="col-md-10">
												<input type="text" class="form-control" id="name">
												<div class="invalid-feedback" id="fbname">
													Please provide a valid Name.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Mobile Number</label>
											<div class="col-md-10">
												<input type="text" class="form-control" id="number">
												<div class="invalid-feedback" id="fbnumber">
													Please provide a valid Number.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Email Id</label>
											<div class="col-md-10">
												<input type="email" class="form-control" id="email">
												<div class="invalid-feedback" id="fbemail">
													Please provide a valid Email.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">NOMINEE NAME</label>
											<div class="col-md-10">
												<input type="text" class="form-control" id="nominee">
												<div class="invalid-feedback" id="fbnominee">
													Please provide a valid NOMINEE NAME.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">DOB</label>
											<div class="col-md-10">
												<input type="date" class="form-control" id="dob">
												<div class="invalid-feedback" id="fbdob">
													Please provide a valid DOB.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Vechile Photo (Front)</label>
											<div class="col-md-10">
												<input class="form-control" type="file" id="front">
												<div class="invalid-feedback" id="fbfront">
													Please provide a valid Front.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Vechile Photo (back)</label>
											<div class="col-md-10">
												<input class="form-control" type="file" id="back">
												<div class="invalid-feedback" id="fbback">
													Please provide a valid Back.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Vechile Photo (side)</label>
											<div class="col-md-10">
												<input class="form-control" type="file" id="side">
												<div class="invalid-feedback" id="fbside">
													Please provide a valid Side.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Rc Copy</label>
											<div class="col-md-10">
												<input class="form-control" type="file" id="rc">
												<div class="invalid-feedback" id="fbrc">
													Please provide a valid RC.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">OLD INSURANCE COPY</label>
											<div class="col-md-10">
												<input class="form-control" type="file" id="oldinsurence">
												<div class="invalid-feedback" id="fboldinsurence">
													Please provide a valid OLD INSURANCE COPY.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">DRIVING LICENCE</label>
											<div class="col-md-10">
												<input class="form-control" type="file" id="licence">
												<div class="invalid-feedback" id="fblicence">
													Please provide a valid DRIVING LICENCE.
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label class="col-form-label col-md-2">Others</label>
											<div class="col-md-10">
												<input class="form-control" type="file" id="others" multiple>
											</div>
										</div>
										<div class="form-group row justify-content-center">
											<button type="button" class="btn btn-primary btn-lg"
												id="submitbtn">Submit</button>
										</div>


									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
			<!-- /Page Wrapper -->

	</div>
	<!-- /Main Wrapper -->

	<script src="/public/js/main/jquery-3.5.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/public/js/main/popper.min.js"></script>
	<script src="/public/js/main/bootstrap.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="/public/js/main/feather.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/public/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<!-- Select2 JS -->
	<script src="/public/plugins/select2/js/select2.min.js"></script>

	<!-- Datepicker Core JS -->
	<script src="/public/plugins/moment/moment.min.js"></script>
	<script src="/public/js/main/bootstrap-datetimepicker.min.js"></script>

	<!-- Custom JS -->
	<script src="/public/js/main/script.js"></script>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/8.2.5/firebase.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/public/js/custom/firebase.js"></script>
	<script>
		var db = firebase.firestore()
		var storageRef = firebase.storage().ref();
		var userid= localStorage.getItem("userid")
		document.getElementById("submitbtn").addEventListener("click", async () => {
			var name = document.getElementById("name").value
			var number = document.getElementById("number").value
			var email = document.getElementById("email").value
			var nominee = document.getElementById("nominee").value
			var dob = document.getElementById("dob").value
			var front = document.getElementById("front").files[0]
			var back = document.getElementById("back").files[0]
			var side = document.getElementById("side").files[0]
			var rc = document.getElementById("rc").files[0]
			var oldinsurence = document.getElementById("oldinsurence").files[0]
			var licence = document.getElementById("licence").files[0]
			var others = document.getElementById("others").files[0]

			var emailreg = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
			if (name == "") {
				document.getElementById("fbname").style.display = "block"
				return false
			} else if (number == "") {
				document.getElementById("fbnumber").style.display = "block"
				return false
			} else if (nominee == "") {
				document.getElementById("fbnominee").style.display = "block"
				return false
			} else if (dob == "") {
				document.getElementById("fbdob").style.display = "block"
				return false
			} else if (!emailreg.test(email)) {
				document.getElementById("fbemail").style.display = "block"
				return false
			} else if (front == undefined) {
				document.getElementById("fbfront").style.display = "block"
				return false
			} else if (back == undefined) {
				document.getElementById("fbback").style.display = "block"
				return false
			} else if (side == undefined) {
				document.getElementById("fbside").style.display = "block"
				return false
			} else if (rc == undefined) {
				document.getElementById("fbrc").style.display = "block"
				return false
			} else if (oldinsurence == undefined) {
				document.getElementById("fboldinsurence").style.display = "block"
				return false
			} else if (licence == undefined) {
				document.getElementById("fblicence").style.display = "block"
				return false
			}
			else {

				toastr["info"]("Please Wait", "File Uploading..");
				document.getElementById("submitbtn").innerHTML = " <span class='spinner-border spinner-border-sm mr-2' role='status'style='padding: 7px;' aria-hidden='true'></span>Please Wait..."
				
				var walletamount = await myWallet()
				var certificatesamount = 60
				var checkwallet = await checkWallet(walletamount, certificatesamount)		
				if (checkwallet == 1) {
					var fronturl = await generateImageUrl("insurencetwo", "front", name, front)
					
					var backurl = await generateImageUrl("insurencetwo", "back", name, back)
					
					var sideurl = await generateImageUrl("insurencetwo", "side", name, side)
					
					var rcurl = await generateImageUrl("insurencetwo", "rc", name, rc)
					
					var licenceurl = await generateImageUrl("insurencetwo", "licence", name, rc)
					
					var oldinsurenceurl = await generateImageUrl("insurencetwo", "oldinsurence", name, rc)
					
					if (others != undefined) {
						var othersurl = await generateImageUrl("insurencetwo", "other", name, others)
						
					} else {
						othersurl = "none"
					}
					var myinfos = await myinfo()
					var newcertificate = await {
						name: name,
						email: email,
						number: number,
						certificateid:Date.now().toString(),
						appliedname: myinfos.name,
                        appliedemail: myinfos.email,
                        appliedeno: myinfos.number,
						certificatename: "Insurance Auto",
						certificates: `[{"front":"${fronturl}"},{"back":"${backurl}"},{"side":"${sideurl}"},{"rc":"${rcurl}"},{"oldinsurence":"${oldinsurenceurl}"},{"licence":"${licenceurl}"},{"others":"${othersurl}"}]`,
						userid: localStorage.getItem("userid")
					}
					
					var InsurenceCertificateAuto = await axios.post("https://api.smartwayonline.in/insurance/auto", newcertificate).then((res) => { return res }).catch((err) => { if (err) return false })
					if (InsurenceCertificateAuto.data == true) {
						var walletamount = await myWallet()
						var updatewallet = await updateWallet(walletamount, " InsurenceCertificateAuto", certificatesamount)
						if (updatewallet == true) {
							toastr["success"]("Certificate Uploaded");
							setTimeout(() => { window.location.reload() }, 2000)
						} else {
							toastr["error"]("Something Wrong Contact Smartway");
							setTimeout(() => { window.location.reload() }, 2000)
						}
					}


				} else {
					toastr["error"]("Low Balance", "Please Add Money..");
                    setTimeout(() => { window.location.replace("/payment/addpayments") }, 2000)
				}
			}
		})

		generateImageUrl = async (mycertificatename, mycertificate, name, file) => {
			var extention=file.name.split(".")[1]
			var filename=`${Date.now().toString()}.${extention}`
			var generateImageUrl = new Promise(async (resolve, reject) => {
				var newImage = storageRef.child(`${userid}/${name}/${mycertificatename}/${mycertificate}/` + filename);
				await newImage.put(file).then(function (snapshot) {
					newImage.getDownloadURL().then(function (url) {
						return resolve(url)
					})
						.catch(function (error) {
							console.log("error encountered");
						});
				});
			})
			return await generateImageUrl
}
		myWallet = async () => {
			var userid = localStorage.getItem("userid");
			if (userid != null) {
				var myinfo = await axios.get(`https://api.smartwayonline.in/user/${userid}`).then((res) => { return res.data }).catch((err) => { return false })
				return myinfo[0].wallet
			}
		}
		myinfo = async () => {
			var userid = localStorage.getItem("userid");
			if (userid != null) {
				var myinfo = await axios.get(`https://api.smartwayonline.in/user/${userid}`).then((res) => { return res.data }).catch((err) => { return false })
				return myinfo[0]
			}
		}
		checkWallet = async (myamount, certificateamount) => {
			if (myamount < certificateamount) {
				return 0
			} else if (myamount == 0) {
				return 0
			} else {
				return 1
			}
		}
		updateWallet = async (myamount, certificatename, certificateamount) => {
			var userid = localStorage.getItem("userid");
			var finalamount = Number(myamount) - Number(certificateamount)
			var update = await axios.put(`https://api.smartwayonline.in/user/${userid}`, { wallet: finalamount }).then((res) => { return res.data }).catch((err) => { return false })
			if (update == false) return toastr["error"]("server Error");
			const createhistory = await axios.post(`https://api.smartwayonline.in/wallethistory/create`, {
				amount: certificateamount,
				certificatename: certificatename,
				userid: userid
			}).then((res) => { return res.data }).catch((err) => { return false })
			if (createhistory == false) return false
			return true
		}
	</script>
</body>

<!-- Mirrored from kanakku.dreamguystech.com/template-html/form-basic-inputs.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 02 Feb 2021 23:21:44 GMT -->

</html>