<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/fontawesome-all.css">
    <!-- <link rel="stylesheet" href="/public/assets/css/flaticon.css"> -->
    <link rel="shortcut icon" href="/public/img/favicon.png">
    <link rel="stylesheet" href="/public/assets/css/animate.css">
    <link rel="stylesheet" href="/public/assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/public/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/public/assets/css/odometer-theme-default.css">
    <link rel="stylesheet" href="/public/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="/public/assets/css/web-application.css">
</head>

<body>
    <!-- preloader - start -->
    <div id="web-app-preloader"></div>
    <div class="up">
        <a href="#" class="web-app-scrollup text-center"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- Start of header section
     ============================================= -->
    <header id="web-app-header" class="web-app-main-header">
        <div class="container">
            <div class="web-app-main-header-content clearfix">
                <div class="web-app-brand-logo float-left">
                    <a href="/"><img src="/public/img/logonew.png" alt="" style="height: 10vh;"></a>
                </div>
                <div class="web-app-main-menu-item float-right">
                    <nav class="web-app-main-navigation  clearfix ul-li">
                        <ul id="main-nav" class="navbar-nav text-capitalize">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/#web-app-feature">Features</a>
                            </li>
                            <li><a href="/#web-app-about">About</a></li>
                            <li><a href="/#web-app-pricing">Pricing </a></li>
                            <li><a href="/login">Login</a> </li>
                        </ul>
                    </nav>
                    <div class="web-app-header-btn text-center float-right">
                        <a href="/register">Register Now</a>
                    </div>
                </div>
            </div>
            <!-- Desktop Menu -->
            <div class="web-app-mobile_menu position-relative">
                <div class="web-app-mobile_menu_button web-app-open_mobile_menu">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="web-app-mobile_menu_wrap">
                    <div class="mobile_menu_overlay web-app-open_mobile_menu"></div>
                    <div class="web-app-mobile_menu_content">
                        <div class="web-app-mobile_menu_close web-app-open_mobile_menu">
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="m-brand-logo text-center">
                            <a href="/"><img src="/public/img/logonew.png" alt="" style="height: 10vh;"></a>
                        </div>
                        <nav class="web-app-mobile-main-navigation  clearfix ul-li">
                            <ul id="m-main-nav" class="navbar-nav text-capitalize clearfix">
                                <li>
                                    <a href="#web-app-banner">Home</a>
                                </li>
                                <li>
                                    <a href="#web-app-feature">Features</a>
                                </li>
                                <li><a href="#web-app-about">About</a></li>
                                <li><a href="#web-app-pricing">Pricing </a></li>
                                <li><a href="/login">Login</a> </li>
                            </ul>

                        </nav>
                    </div>
                </div>
                <!-- /Mobile-Menu -->
            </div>
        </div>
    </header>


    <section id="web-app-feature" class="web-app-feature-section" style="margin-top: 130px;">
        <div class="container">
            <div class="web-app-section-title web-app-headline text-center">
                <h2>Privacy Policy</span></h2>
            </div>
            <p class="mt-3">This privacy policy governs your use of the software application Smartway for mobile devices & Desktop Application
                that was created by Smartway. </p>
            <h4>I . What data does the Smartway get and how could it be utilized? </h4>
            <h4>User Provided Information</h4>
            <p>The Smartway gets the data you give when you download and register the Smartway. Enlistment with us is
                discretionary. In any case, kindly remember that you will most likely be unable to utilize a portion of
                the provisions presented by the Smartway except if you register with us.</p>
            <p>At the point when you register with us and utilize the Smartway, you for the most part give (a) your
                name, email address, age,client name, secret word and other enlistment data; (b) exchange related data,
                for example,
                at the point when you make buys, react to any offers, or download or use Smartways from us; (c) data
                you give us when you get in touch with us for help; (d) charge card data for buy and utilization of the
                Smartway, and; (e) data you go into our framework when utilizing the Smartway, like contact
                data and task the executives data.</p>
            <p>We may likewise utilize the data you gave us to contact your occasionally to give you significant data,
                required notification and advertising advancements.</p>

            <h4>II . Consequently Gathered Data</h4>
            <p>Furthermore, the Smartway might gather specific data consequently, including, however not restricted to,
                the kind of cell phone you use, your cell phones interesting gadget ID, the IP address of your cell
                phone, your versatile working framework, the sort of portable Web programs you use, and data about the
                manner in which you utilize the Smartway.</p>

            <h4>III . Does the Smartway gather exact constant area data of the gadget?</h4>
            <p>This Smartway doesn't gather exact data about the area of your cell phone.</p>

            <h4>IV . Do outsiders see as well as approach data got by the Smartway?</h4>
            <p>Just collected, anonymized information is intermittently communicated to outside administrations to
                assist us with working on the Smartway and our administration. We will impart your data to outsiders
                just in the ways that are depicted in this security articulation.</p>

            <h4>V . Data Retention Policy, Managing Your Information</h4>
            <p>We will retain User Provided data for as long as you use the Smartway and for a reasonable time
                thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may
                store it in aggregate. If you’d like us to delete User Provided Data that you have provided via the
                Smartway, please contact us at <a style="color: blue;" href="mailto:privacy@smartwayonline.in">privacy@smartwayonline.in</a> and we will respond in a reasonable time.
                Please note that some or all of the User Provided Data may be required in order for the Smartway to
                function properly.</p>

            <h4>VI . Children</h4>
            <p>We don't utilize the Smartway to intentionally request information from or market to kids younger than
                13. On the off chance that a parent or watchman becomes mindful that their youngster has given us data
                without their assent, the individual in question should reach us at <a style="color: blue;" href="mailto:privacy@smartwayonline.in">privacy@smartwayonline.in</a> We will
                erase such data from our documents inside a sensible time.</p>

            <h4>VII . Security</h4>
            <p>We are worried about protecting the classification of your data. We give physical, electronic, and
                procedural shields to secure data we process and keep up with. For instance, we limit admittance to this
                data to approved workers and workers for hire who need to realize that data to work, create or work on
                our Smartway. Kindly know that, in spite of the fact that we try give sensible security to data we
                process and keep up with, no security framework can forestall all potential security breaks.</p>

            <h4>VIII . Your Consent</h4>
            <p>By utilizing the Smartway, you are consenting to our handling of your data as gone ahead in this
                Security Strategy now and as corrected by us. "Handling," implies utilizing treats on a PC/hand held
                gadget or utilizing or contacting data in any capacity, including, however not restricted to, gathering,
                putting away, erasing, utilizing, consolidating and uncovering data, all of which exercises will happen
                in the US. If you live external the US your data will be moved, handled and put away there under US
                security principles.</p>
            <h4> IX . Contact us</h4>
            <p>If you have any inquiries in regards to protection while utilizing the Smartway, or have inquiries
                concerning our practices, kindly reach us through email at <a style="color: blue;" href="mailto:privacy@smartwayonline.in">privacy@smartwayonline.in</a></p>
        </div>
    </section>
    <section id="web-app-footer" class="web-app-footer-section">
        <div class="web-app-footer-top">
            <div class="container">
                <div class="web-app-footer-top-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="web-app-footer-contact">
                                <span>Connect With Us</span>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="web-app-footer-content">
            <div class="container">
                <div class="web-app-footer-wrapper">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="web-app-footer-widget">
                                <div class="web-app-logo-widget pera-content">
                                    <div class="web-app-footer-logo float-left">
                                        <a href="/"><img src="/public/img/logonew.png" alt="logo" style="height: 5vh;"></a>
                                    </div>
                                    <div class="web-app-footer-support d-inline-block position-relative">
                                        <span>Developed By</span>
                                        <a href="https://alphazene.com/">Alphazene Solutions Pvt Ltd</a>
                                    </div>

                                    <div class="soft-footer-btn text-center">
                                        <a href="/login"><i class="fas fa-lock"></i>&nbsp; Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="web-app-footer-widget web-app-headline pera-content">
                                <div class="web-app-footer-menu-widget ul-li-block">
                                    <h3 class="widget-title">More</h3>
                                    <ul>
                                        <li><a href="/privacypolicy">Privacy Policy</a></li>
                                        <li><a href="#">History Management</a></li>
                                        <li><a href="#">Easy UPI Recharge</a></li>
                                        <li><a href="#">On-Panel Acknowledge</a></li>
                                        <li><a href="#">Live Support</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="web-app-footer-widget web-app-headline pera-content">
                                <div class="web-app-footer-menu-widget ul-li-block">
                                    <h3 class="widget-title">Apply For</h3>
                                    <ul>
                                        <li><a href="/login">Customer Portal</a></li>
                                        <li><a href="https://distributor.smartwayonline.in/">Distributor Portal</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="web-app-footer-widget web-app-headline pera-content">
                                <div class="web-app-footer-menu-widget ul-li-block">
                                    <h3 class="widget-title">Address</h3>
                                    <ul>
                                        <li><a href="tel:(915) 099 4655">Helpline: +91 (915) 099 4655
                                            </a>
                                            <a href="mail:support@smartwayonline.in">E-Mail: support@smartwayonline.in</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/public/assets/js/jquery.js"></script>
    <script src="/public/assets/js/popper.min.js"></script>
    <script src="/public/assets/js/appear.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="/public/assets/js/wow.min.js"></script>
    <script src="/public/assets/js/jquery.fancybox.js"></script>
    <script src="/public/assets/js/tilt.jquery.min.js"></script>
    <script src="/public/assets/js/owl.js"></script>
    <script src="/public/assets/js/typer-new.js"></script>
    <script src="/public/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/public/assets/js/odometer.js"></script>
    <script src="/public/assets/js/parallax-scroll.js"></script>
    <script src="/public/assets/js/web-application.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>